<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>register Artic</title>
    </head>
    <body>
        <form method = "post">
            <p>
                <label>标题</label>
                <input type = "text" name = "title">
            </p>
            <p>
                <label>作者</label>
                <input type = "text" name = "author">
            </p>
            <p>
                <label>时间</label>
                <input type = "text" name = "time">
            </p>
            <p>
                <label>描述</label>
                <textarea name = "description"></textarea>
            </p>
            <p>
                <label>内容</label>
                <textarea name = "content"></textarea>
            </p>
                <input type = "submit" value = "提交">
            </p>

        </form>
    </body>
</html>