<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册登录</title>
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
<div>
    <h1>用户注册登录</h1>
    {% csrf_token %}
    <div><span>用户名：</span><input id='username' type="text"></div>
    <div><span>密码：</span><input id='password' type="password"></div>
    <button id="zc">注册</button><button id="login">登录</button>
</div>
</body>
<script>
    $(document).ready(function () {
        $('#zc').click(function () {
            username = $('#username').val();
            password = $('#password').val();
            var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
            alert(username);
            $.ajax({
                url:'/register/',
                type:'POST',
                asnyc:true,
                data:{'username':username,'password':password},
                dataType:'json',
                success:function (data) {
                    console.log(data)
                },
                beforeSend:function (xhr,settings) {
                    xhr.setRequestHeader('X-CSRFToken',csrftoken)
                },
                error:function (data) {
                    console.log(data)
                },
            })
        })
    })
</script>
</html>
