*{
    margin: 0;
    padding:0;
}
body{
    background: #999;
}
.video_port{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 99999;
}
.uploadimg-group{
    position: absolute;
    top:0;
    left: 500px;
    width: 402px;
}
.uploadimg-group img{
    width:400px;
    height:300px;
    border:1px solid #e1e1e1;
    display: block;
}
.uploadimg-group button{
    display: block;
    width:100%;
    margin-top: 0.83vw;
    text-align: center;
    color: #fff !important;
    line-height: 2.6vw;
    height: 2.6vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #676b6b;
    font-size: 1.25vw;
    font-family: "Microsoft JhengHei";
    font-weight:bold;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0;
    outline: none;
    box-shadow: inset 0 0.3rem 0.2rem rgba(255, 255, 255, 0.2), inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    text-shadow: 0 0.05rem rgba(0, 0, 0, 0.8), 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2), 0 -0.2rem 0.4rem rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.uploadimg-group button:hover{
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FF000000');
    background-image: -webkit-gradient(linear, 30% 0%, 30% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.3)));
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
    background-image: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
    background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.picturebtn{
    width:100%;
    height: 40px;
    line-height: 40px;
    background: #f2f2f2;
    font-size:0;
}
.picturebtn button{
    outline: none;
    border:0;
    background: transparent;
    color: #000;
    font-size: 0.83vw;
    text-align: center;
    width:199px;
    height:100%;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
}
.myshu{
    display: inline-block;
    vertical-align: top;
    width:1px;
    height: 30px;
    margin-top: 5px;
    background: #999999;
}
.picturebtn button.screenshots{
    background: transparent url(jiequ.png)no-repeat 35px 10.5px;
    -webkit-background-size: 23px 19px;
    background-size: 23px 19px;
}
.picturebtn button.closecamera{
    background: transparent url(closecamera.png)no-repeat 35px 11px;
    -webkit-background-size: 23px 19px;
    background-size: 23px 19px;
}
